head
    title まこちゃん管理画面
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    div(align='center')
        table.tb
            - for (var i=0; i<keywords.length; i++  )
                tr
                    td.kw=keywords[i].keyword1
                    td.kw=keywords[i].keyword2
                    td.kw=keywords[i].keyword3
                    td.ans=keywords[i].answer
                    td.face
                         case keywords[i].face
                            when '0'
                                p 基本
                            when '1'
                                p 喜ぶ
                            when '2'
                                p 悲しむ
                            when '3'
                                p 驚く
                            when '4'
                                p 怒る
                            default
                                p なし
                    td.ed 
                         a(href='/keyword/show/' + keywords[i]._id)|編集 
