body {
}

a {
  color: #00B7FF;
}
table.tbh { width:80%;
           border-collapse:collapse;
		   border: 1px solid; 
		   font-size 11px;
		   table-layout: fixed;
		   text-align:center;}
table.tb { width:100%;
           border-collapse:collapse;
		   border: 1px solid; 
		   font-size 11px;
		   table-layout: fixed;
		   text-align:center;}
.tbh th.kw { width:16%;  font-size:10pt; background-color: #E3E3E3; border: 1px #808080 solid; }
.tbh th.ans { width:43%;; font-size:10pt; background-color: #E3E3E3; border: 1px #808080 solid;}
.tbh th.face{ width:12%; font-size:10pt; background-color: #E3E3E3 ;border: 1px #808080 solid;}
.tbh th.ed { width:4.5%;  font-size:10pt; background-color: #E3E3E3; border: 1px #808080 solid; }
.tbh th.sc { width:2.5%;  font-size:10pt; background-color: #E3E3E3; border: 1px #808080 solid; }
.tb td.kw { width:15%; font-size:10pt; ;border: 1px #808080 solid;}
.tb td.ans { width:40%;font-size:10pt; ;border: 1px #808080 solid;}
.tb td.face { width:10%; font-size:10pt; ;border: 1px #808080 solid;}
.tb td.ed { width:5%; font-size:10pt; ;border: 1px #808080 solid;}

tr:nth-child(2n+1){
 background: #F0F0F0;
}

input[type="text"] {width:90%}
